.jumbotron{
    text-align: center;
    background-color: #F6F2F5;
    margin-bottom: 0px;
    text-align: center;
}

.header{
    color: #5cb49b;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 5rem;
}

.biline {
    font-size: 1.5rem;
}

.firstPage{
    padding-bottom: 2rem;
    background-color: rgb(247, 243, 246);
    font-family: 'Poppins', sans-serif;
    background-image: url("../../images/logoBeige.jpg");
    background-size: 75rem;
    background-repeat: no-repeat;
}