.circle {
    width: 4rem;
    height: 4rem;
    padding-right: 0.5rem;
    background-color: #5cb49b;
    border-radius: 60px;
    color: white;
    position: relative;
    overflow: hidden; 
    transition: width 0.4s ease-in;
    cursor: pointer;
  }
  
  .circle:hover {
    width: 11rem;
  }

  .arrow {
    position: absolute;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    top: 50%;
    right: 30px;
    transform: translate(50%, -50%);
  }

  .text {
    position: absolute;
    top: 50%;
    right: 4rem;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
    transform: translateY(-50%);
  }

.addPlantContainer {
    padding: 1rem;
    text-align: center;
    background-color: #5cb49b;
    padding-bottom: 5.5rem;
    border-radius: 112px;
}

.innerContainer {
  padding: 2rem;
}

.input-group > label {
  color: white;
}

.form-control,
input,
.css-yk16xz-control{
    border-radius: 1rem;
}

.movingButton {
    background-color: #F6F2F5;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
}

img{
    height: 2rem;
    width: 2rem;
    margin-right: 0.25rem;
}

.addPlantBtn {
  background-color: white;
  color: #3C7565;
  font-weight: 600;
  border-radius: 60px;
}

.waterBtn {
  background-color: white;
  color: white;
  border: 3px solid #5FC4E8;
  margin: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  margin-top: 2.5rem;

}


.watered {
  background-color: #5FC4E8;
  
}

.unwatered {
  background-image: linear-gradient(-140deg, white 25%, #5FC4E8);
}

.dueForWater {
  background-color: white;
  border-color: #FF554F;
}

.close {
  float: right;
  margin-right: 0.25rem;
}

.waterBtn:hover {
  background-color: #5ec3e8;
  background-image: none;
  border-color: #5FC4E8;
}

.errorAdd {
    color: #FF554F;
    font-size: 0.75rem;
}