.plantsContainer {
    padding: 1rem;
    padding-top: 3rem;
    text-align: center;
    background-color: #F6F2F5;
    height: 100vh;
}

.card-title {
    font-size: 1.75rem;
    margin-bottom: 0;
}

.fancy {
    font-family: 'Pacifico', cursive;
}

.script {
    font-family: 'Paytone One', sans-serif;
}

.bold {
    font-weight: 700;
}

.card {
    margin-bottom: 0.5rem;
    
}

.eachPlantCard {
    border-color: #5cb49b;
    border-width: 2px;
}

.card-body {
    padding: 0.5rem;
}

.text-muted{
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-content {
    padding: 0.75rem;
}

.badge {
    margin: 0.5rem;
}

.card {
    border-radius: 40px;
}