.jumbotron{
    text-align: center;
    background-color: #F6F2F5;
    margin-bottom: 0px;
}

.profileName{
    color: #5cb49b;
    text-align: left;
    font-size: 3rem;
    font-family: 'Paytone One', sans-serif;
}

.ohHello{
    color: black;
    text-align: left;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}